* {
    font-family: "Cabin Sketch", sans-serif;
}
.body {
    background-color: #5049d1;
    padding: 0px;
    margin: 0;
}
.container {
    background-image: url("./Images/pattern_wave.png");
    background-color: whitesmoke;
    height: 1350px;
    width: 1200px;
    margin: 70px auto;
    border: 2px solid rgba(102, 199, 255, 0);
    box-shadow: 0 50px 50px 0 black;
    border-radius: 50px;
}
.navbar {
    width: 100%;
    display: flex;
}
.navbar_links {
    color: #5049d1;
    width: 100px;
    text-decoration: none;
    display: inline-flex;
    padding-top: 30px;
    padding-right: 30px;
    font-size: 1.3rem;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar h3 {
    padding-left: 30px;
    padding-top: 30px;
}
.top {
    background-color: rgba(255, 255, 255, 0.5);
    height: 425px;
    margin: 10px;
    border: 2px solid rgba(102, 199, 255, 0);
    box-shadow: 0 10px 10px 0 darkgrey;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 999;
}
.top h1 {
    float: left;
    padding: 100px 100px;
}
.img {
    height: 400px;
    float: right;
    padding-right: 50px;
    padding-top: 50px;
}
/*=================================================================*/
/*=================================================================*/
/*=================================================================*/
/*=================================================================*/

.main {
    margin: 10px;
    margin-top: 70px;
    padding: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 10px 0 darkgrey;
    border-radius: 50px;
    overflow: hidden;
}
.main h1 {
    text-align: center;
    background-color: #032539;
    background-image: linear-gradient(to bottom, #000 0%, #5049d1 100%);
    background-size: 100%;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main h3 {
    padding-bottom: 15px;
    text-align: center;
    background-image: linear-gradient(to bottom, red 0%, #f37b12 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.main h6 {
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
}
.sendButton {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 0;
    display: flex;
}
.material-icons {
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
}

.material-icons:hover {
    color: red;
    cursor: pointer;
}
.right {
    filter: drop-shadow(15px 15px 15px darkgrey);
    background-repeat: no-repeat;
}
.email-img {
    width: 350px;
    float: right;
    filter: drop-shadow(10px 10px 10px darkgrey);
}
.textarea {
    margin: 15px;
}
.bodytext {
    border-radius: 25px;
    padding: 15px;
    margin-left: 12px;
    border: 2px solid rgb(102, 199, 255);
}
