* {
    font-family: "Cabin Sketch", sans-serif;
}
.body {
    background-color: #5049d1;
}

.toph1 {
    float: left;
    display:flex;
}

.mainh1 {
    text-align: center;
    background-image: linear-gradient(to bottom, #000 0%, #5049d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainh3 {
    text-align: center;
    background-image: linear-gradient(to bottom, red 0%, #ffa352 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainh6 {
    text-align: center; 
}

.sendButton {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}
.material-icons {
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
}

.material-icons:hover {
    color: red;
    cursor: pointer;
}

.email-img {
    width: 350px;
    float: right;
    filter: drop-shadow(10px 10px 10px darkgrey);
}
.textarea {
    margin: 15px;
}
.bodytext {
    border-radius: 25px;
    padding: 15px;
    margin-left: 12px;
    border: 2px solid rgb(102, 199, 255);
}
